*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none;
}
html
{
    background-color: black;
}
body
{
    margin: 0 3rem;
}
#contenedorPrincipal
{
    margin: 0;
    padding: 0;
    min-width: 100%;
}
#cartaColumnaCompletada
{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none;
}
.carta
{
    cursor: pointer;
}